.about-us {
  background-color: @white;
}


.about-us__title {
  .text-settings();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @dark;
}

.about-us__item {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @dark;
}
