.about-us {
  background-color: @white;
}

.about-us__wrapper {
  .wrapper ();
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 200px;
  }
}

.about-us__title {
  .text-settings();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @dark;

  margin: 0;
  margin-bottom: 28px;
  text-align: left;

  @media (min-width: @tablets-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41.5px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
}

.about-us__item {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @dark;

  padding-top: 54px;
  margin-bottom: 30px;

  position: relative;

  &:last-child {
    margin-bottom: 0;
  }


  &--flower {
    grid-area: f;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 33px;
      height: 38px;
      background-image: url("../img/svg/flower.svg");
    }
  }

  &--money {
    grid-area: m;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 47px;
      height: 27px;
      background-image: url("../img/svg/money.svg");
    }
  }

  &--heart {
    grid-area: h;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 27px;
      background-image: url("../img/svg/heart.svg");
    }
  }

  &--yarn {
    grid-area: y;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 34px;
      background-image: url("../img/svg/yarn.svg");
    }
  }

  &--rocket {
    grid-area: r;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 23px;
      background-image: url("../img/svg/rocket.svg");
    }
  }

  &--gift {
    grid-area: g;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 33px;
      height: 33px;
      background-image: url("../img/svg/gift.svg");
    }
  }
}

.about-us__list {
  list-style: none;

  margin: 0;
  padding: 0;

  @media (min-width: @tablets-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "f y"
      "m r"
      "h g";
    column-gap: 100px;
  }
}
