.catalog-section-list__item {
  background-color: @aqua-light;
}

.catalog-section-list__item--left {
  background-color: @aqua;
}

.catalog-section-list__link {
  .text-settings();
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
}
