.catalog-items {
  background-color: @white;
}

.catalog-items__wrapper {
  .wrapper ();
}

.catalog-items__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    column-gap: 50px;

    row-gap: 10px;
  }
}
