.catalog-section-list__item {
  background-color: #56c3b2;
}

.catalog-section-list__item--left {
  background-color: #63d1bb;
}

.catalog-section-list__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
