.catalog-section-list {
  @media (min-width: @tablets-width) {
    display: flex;
  }
}

.catalog-section-list__item {
  background-color: @aqua-light;

  @media (min-width: @tablets-width) {
    flex-grow: 1;
  }
}

.catalog-section-list__item--left {
  background-color: @aqua;
}

.catalog-section-list__link {
  .text-settings();
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
}
