.contacts {
  background-color: @white;
}

.contacts__title {
  .text-settings();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @dark;
}


.contacts__characteristic {
  .text-settings();
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey;
}

.contacts__value {
  .text-settings();
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey;
}
