.contacts {
  background-color: @white;
}

.contacts__wrapper {
  .wrapper ();
  position: relative;
  margin-bottom: 62px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.contacts__title {
  .text-settings();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @dark;

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}


.contacts__characteristic {
  .text-settings();
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey;

  margin-right: 30px;
}

.contacts__value {
  .text-settings();
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @grey;

  margin: 0;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__list {
  margin: 0;



  @media (min-width: @tablets-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    display: block;
  }
}

.contacts__write-us-wrapper {
  .wrapper();
}

.contacts__write-us {
  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.contacts__map {
  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
