.form {
  background-color: @white;
}

.form__text {
  .text-settings();
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @grey;
}

.form__legend {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @aqua;
}

.form__requered {
  .text-settings();
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @grey;
}
