.form{
  background-color: #FFFFFF;
}
.form-text-settings(){
  font-family: 'Open Sans';
  font-style: normal;
}
.form__text{
  .form-text-settings();
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.form__legend{
  .form-text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63D1BB;
}
.form__requered{
  .form-text-settings();
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
