.header-navigation {
  background-color: @white;
  position: relative;
  padding-top: 22px;

  @media (min-width: @tablets-width) {
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    grid-template-rows: 1fr 1fr;
  }
}

.header-navigation__list-first-link {
  .text-settings();
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: @dark;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: @tablets-width) {
    font-size: 15px;
  }
}

.header-navigation__list-second-link {
  .text-settings();
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: @dark;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.header-navigation__list-third-link {
  .text-settings();
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @dark;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}

.header-navigation__burger {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 32px;
  display: block;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: 0;
}

.header-navigation--closed .header-navigation__burger {
  border-top: 2px solid @black;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    box-sizing: border-box;
    width: 20px;
    height: 2px;
    border: 1px solid @black;
    box-shadow: 0 6px 0 0 @black;
  }
}

.header-navigation--opened .header-navigation__burger {
  height: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header-navigation__logo {
  margin: 0 auto;
  display: block;
  width: 86px;
  height: 35px;
  margin-bottom: 22px;

  @media (min-width: @tablets-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}


.header-navigation__list-first {
  padding: 0;
  list-style: none;
  margin: 0;

  @media (min-width: @tablets-width) {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.header-navigation--closed .header-navigation__list-first {
  @media (max-width: @mobile-only) {
    display: none;
  }
}

.header-navigation__list-second {
  padding: 0;
  list-style: none;
  margin: 0;


  @media (min-width: @tablets-width) {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.header-navigation--closed .header-navigation__list-second {
  @media (max-width: @mobile-only) {
    display: none;
  }
}

.header-navigation__list-third {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.header-navigation__list-first-item {
  @media (max-width: @mobile-only) {
    padding: 27px 20px 27px 46px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -260px;
      width: 1200px;
      height: 1px;
      background-color: @grey-light;
    }
  }
}

.header-navigation__list-second-item {
  @media (max-width: @mobile-only) {
    padding: 27px 20px 27px 46px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -260px;
      width: 1200px;
      height: 1px;
      background-color: @grey-light;
    }

    &:last-child {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -260px;
        width: 1200px;
        height: 1px;
        background-color: @grey-light;
      }
    }
  }
}

.header-navigation__list-second-link-picture {
  @media (max-width: @mobile-only) {
    position: absolute;
    left: 0;
    top: auto;
  }
}

.header-navigation__delivery-notice {
  display: none;

  @media (min-width: @tablets-width) {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

.header-navigation__list-second-hidde-text {
  @media (min-width: @tablets-width) {
    display: none;
  }
}
