.header-navigation{
  background-color: #FFFFFF;
}
.fonts-setings () {
  font-family: "Open Sans" ,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.header-navigation__list-first-link{
  .fonts-setings();
  font-size: 17px;
  &:hover{
    opacity: 0.6;
  };
}
.header-navigation__list-second-link{
  .fonts-setings();
  font-size: 17px;
  &:hover{
    opacity: 0.6;
  };
}
// font-size не в fonts-setings так как меняется в 3 списке
