.header-navigation {
  background-color: @white;
}

.header-navigation__list-first-link {
  .text-settings();
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: @dark;

  &:hover {
    opacity: 0.6;
  }
}

.header-navigation__list-second-link {
  .text-settings();
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: @dark;

  &:hover {
    opacity: 0.6;
  }
}
// font-size не в fonts-setings так как меняется в 3 списке
