
.hero-section {
  background-image: url("../img/background/hero-background.jpg");
  background-color: #fafafa;
  background-repeat: no-repeat;
}

.hero-section__title {
  .text-settings();
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @dark;
}

.hero-section__wrapper {
  margin: 0 auto;
  width: 81.25%;

  @media (min-width: @tablets-width) {
    width: 86.97%;
  }

  @media (min-width: @desktop-width) {
    width: 91.13%;
  }
}
