
.hero-section {
  background-image: url("../img/backgrounds/hero-background.jpg");
  background-color: @grey-concrete;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-section__title {
  .text-settings();
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @dark;

  margin: 0;
  margin-bottom: 120px;
}

.hero-section__wrapper {
  .wrapper ();
  padding-top: 74px;
  text-align: center;
  position: relative;

  @media (min-width: @tablets-width) {
    &::before {
      content: "";
      background-image: url("../img/sampels/wave.svg");
      position: absolute;
      height: 34px;
      width: 3000px;
      bottom: -10px;
      left: -500px;
      z-index: 10;
      background-repeat: repeat-x;
    }
  }
}

.hero-section__br-in-title {
  @media (min-width: @tablets-width) {
    display: none;
  }
}
