.mail-link {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: @aqua-dark;
    bottom: -8px;

    @media (max-width: @mobile-only) {
      bottom: -2px;
    }
  }

  &:active::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: @aqua-dark;
    bottom: -8px;

    opacity: 0.1;

    @media (max-width: @mobile-only) {
      bottom: -2px;
    }
  }

  &:hover {
    color: @aqua-dark;
  }

  &:active {
    color: @aqua-dark;
  }
}
