.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  .wrapper ();

  @media (min-width: @tablets-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__copyright {
  .text-settings();
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @dark;
}

.main-footer__logo {
  display: none;

  @media (min-width: @tablets-width) {
    display: block;
  }
}
