.main-form {
  background-color: @white;
}

.main-form__title-container {
  background-color: @light-white;
}

.main-form__title-wrapper {
  margin: 0 auto;
  width: 81.25%;


  @media (min-width: @tablets-width) {
    width: 86.97%;
  }

  @media (min-width: @desktop-width) {
    width: 91.13%;
  }
}

.main-form__title {
  .text-settings();
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @dark;
}
