.main-container__hero-section {
  margin-bottom: 31px;

  @media (min-width: @tablets-width) {
    margin-bottom: 51.5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.main-container__product-of-the-week {
  margin-bottom: 33px;

  @media (min-width: @tablets-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.main-container__about-us {
  margin-bottom: 58px;

  @media (min-width: @tablets-width) {
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.main-container__reviews {
  margin-bottom: 38px;

  @media (min-width: @tablets-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}

.main-container__contacts {
  margin-bottom: 36px;

  @media (min-width: @tablets-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 105px;
  }
}
