.main-catalog__title-container{
  background-color:  #F1F1F1;
}
.main-catalog__title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}
