.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  .wrapper ();
  padding-top: 30px;
  padding-bottom: 22px;

  @media (min-width: @tablets-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.main-footer__copyright {
  .text-settings();
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @dark;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .main-footer__copyright-img {
    fill: @aqua-dark;
  }

  &:active .main-footer__copyright-img {
    fill: @aqua-dark;
    opacity: 0.3;
  }
}

.main-footer__copyright-text {
  margin-right: 27px;

  @media (min-width: @tablets-width) {
    margin-right: 25px;
  }
}

.main-footer__logo {
  display: none;
  height: 34px;

  @media (min-width: @tablets-width) {
    display: block;
  }

  &:hover .main-footer__logo-img {
    fill: @aqua-dark;
  }

  &:active .main-footer__logo-img {
    fill: @aqua-dark;
    opacity: 0.3;
  }
}

// .main-footer__socials {
//   padding-bottom: 30px;
//   margin-bottom: 10px;
// }
