.main-button {
  .text-settings();
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @grey;

  box-sizing: border-box;

  display: block;
  border: 2px solid @grey;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  height: 52px;

  &:hover {
    color: @white;
  }
}
