.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 11;
}

.modal--closed {
  display: none;
}

.modal-container {
  border: 1px solid #c6c6c6;
  height: 336px;
  width: 100%;
  max-width: 566px;
  margin: 0 auto;
  background-color: @white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);


  box-sizing: border-box;
}

.modal__wrapper {
  margin: 0 auto;
  width: @mobile;

  opacity: 1;
  padding-top: 28.5px;

  @media (min-width: @tablets-width) {
    width: 62.94%;
  }
}

.modal__title {
  .text-settings ();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  margin: 0;
  margin-bottom: 14px;
}

.modal__text {
  .text-settings ();
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @grey;

  display: block;

  text-align: center;

  margin-bottom: 21.5px;
}

.modal__button-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 31px;
}

.modal__button {
  padding: 18px 22px;
  border: 2px solid @grey-border;
  flex-grow: 1;
  margin-right: 7px;
  text-align: center;

  .text-settings ();
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:active {
    border: 2px solid @aqua-smoth;
  }

  &--active {
    border: 2px solid @aqua-smoth;
  }
}


.modal__button-add {
  .text-settings ();
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;

  background-color: @aqua;
  color: @white;

  padding: 18px 67px;

  margin-bottom: 46px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    background-color: @aqua-dark;
    color: @dark;
  }
}
