.product-card {
  border: 1px solid @grey-light;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablets-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 334px;

    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-bottom: 0;

    max-height: none;
  }
}

.product-card__title {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @dark;

  margin: 0;
  margin-bottom: 6px;

  @media (min-width: @tablets-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__characteristic {
  .text-settings();
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @grey;

  margin: 0;
  margin-bottom: 17.5px;

  @media (min-width: @tablets-width) {
    font-size: 15px;
    line-height: 30px;

    margin-bottom: auto;
  }
}

.product-card__price {
  .text-settings();
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @dark;

  margin: 0;

  @media (min-width: @tablets-width) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    justify-self: flex-end;
  }
}


.product-card__link {
  display: block;

  @media (min-width: @tablets-width) {
    grid-column: 1/2;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-card__text-container {
  padding: 23.5px 28px;
  box-sizing: border-box;

  @media (min-width: @tablets-width) {
    grid-column: 2/3;
    padding: 27.5px 33px;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding: 27px 26px 25.5px 28px;
    height: 197px;
  }
}

.product-card__hr {
  margin: 0;
  margin-bottom: 22.5px;
}

.product-card__price-cart-container {
  display: flex;
  justify-content: space-between;
}

.product-card__img {
  @media (min-width: @tablets-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product-card__cart-img {
  opacity: 0.2;
}

.product-card__br {
  display: none;

  @media (min-width: @tablets-width) {
    display: block;
  }
}
