.product-card-text-seting(){
    font-family: 'Open Sans';
    font-style: normal;
}
.product-card__title{
  .product-card-text-seting();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.product-card__characteristic{
  .product-card-text-seting();
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.product-card__price{
  .product-card-text-seting();
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
