

.production__title {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @dark;

  margin: 0;
  margin-bottom: 26.5px;

  position: relative;

  @media (min-width: @tablets-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: url("../img/svg/video.svg");
    left: -57px;
    top: 10px;

    @media (min-width: @tablets-width) {
      left: -65px;
      top: -3px;
    }

    @media (min-width: @desktop-width) {
      left: 0;
      top: -50px;
    }
  }
}

.production__text {
  .text-settings();
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @grey;

  margin: 0;
  margin-bottom: 41px;

  @media (min-width: @tablets-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.production__wrapper {
  .wrapper ();


  margin-bottom: 5px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablets-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 682px 1fr;
  }
}

.production__title-container {
  padding-top: 21.5px;
  border: 1px solid @grey-light;
  padding-left: 91px;

  @media (min-width: @tablets-width) {
    padding-top: 40px;
    padding-left: 106px;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    padding-left: 80px;
    border-bottom: 0;
    padding-right: 55px;

    padding-bottom: 18px;
  }
}

.production__text-container {
  padding: 33px 20px 33px 33px;
  border: 1px solid @grey-light;

  @media (min-width: @tablets-width) {
    border-top: 0;
    padding-top: 0;
    padding-left: 39px;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2/4;
    grid-column: 2/3;

    padding-left: 80px;
  }
}

.production__video {
  width: 100%;
  min-height: 150px;
  background-color: @white;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../img/backgrounds/production-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/production-mobile2x.jpg");
  }

  @media (min-width: @tablets-width) {
    background-image: url("../img/backgrounds/production-tablets.jpg");
    height: 455px;
    margin-bottom: 0;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/production-tablets2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/backgrounds/production-desktop.jpg");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/production-desktop2x.jpg");
    }
  }


  @media (min-width: @tablets-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.production__video-button {
  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 76px;
  border: 0;
  background-color: transparent;

  &:hover {
    width: 120px;
    height: 91.2px;
  }
}

.production__button {
  width: 192px;

  @media (min-width: @tablets-width) {
    width: 100%;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-bottom: 9px;
  }
}
