
.product-of-the-week {
  background-color: @white;
  position: relative;
  overflow: hidden;
}

.product-of-the-week__wrapper {
  .wrapper ();
  box-sizing: border-box;
  position: relative;


  @media (min-width: @tablets-width) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 42px;
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 119px 292px 1fr;

    column-gap: 58px;

    margin-bottom: 96px;
  }
  margin-bottom: 42px;

  &::after {
    content: "";
    position: absolute;
    left: -1000px;
    width: 3000px;
    height: 6px;
    background-position: 0 6px;
    background-image: url("../img/sampels/wave-small.svg");
    bottom: -36px;

    @media (min-width: @tablets-width) {
      background-image: url("../img/sampels/wave-product-tablets.svg");
      height: 17px;
      background-position: 0 17px;
      bottom: -52px;
    }

    @media (min-width: @desktop-width) {
      bottom: -79px;
    }
  }
}

.product-of-the-week__product-title {
  .text-settings();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @dark;

  margin: 0;

  @media (min-width: @tablets-width) {
    font-size: 43px;
    line-height: 50px;

    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 37.5px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    grid-column: 2/4;

    margin-top: 61px;
    margin-bottom: 35px;
  }
}

.product-of-the-week__title {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @aqua;

  margin: 0;
  margin-bottom: 17.5px;

  @media (min-width: @tablets-width) {
    line-height: 17px;
    margin-right: 27px;
    margin-left: auto;
    text-align: center;

    grid-column: 3/4;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    margin-right: 0;
    margin-left: auto;
    margin-top: 61px;
  }
}

.product-of-the-week__description {
  .text-settings();
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: @grey;

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablets-width) {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.product-of-the-week__list {
  margin: 0;
}

.product-of-the-week__characteristic {
  .text-settings();
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @grey;
}

.product-of-the-week__value {
  .text-settings();
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @grey;
}

.product-of-the-week__price {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @grey;

  margin: 0;
  margin-bottom: 24.5px;

  text-align: center;

  @media (min-width: @tablets-width) {
    font-size: 20px;
    margin-bottom: 33px;
  }
}

.product-of-the-week__item {
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid @grey-light;

  @media (min-width: @desktop-width) {
    padding-bottom: 15px;
  }
}

.product-of-the-week__text-container {
  margin-bottom: 28px;

  @media (min-width: @tablets-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    margin-bottom: 109px;
  }
}

.product-of-the-week__price-button-container {
  @media (min-width: @tablets-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-end;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}

.product-of-the-week__img {
  margin-bottom: 25.5px;

  @media (min-width: @tablets-width) {
    grid-column: 2/4;
    grid-row: 2/4;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}

.product-of-the-week__br {
  display: none;

  @media (min-width: @tablets-width) {
    display: block;
  }
}
