
.product-of-the-week {
  background-color: @white;
}

.product-of-the-week__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 81.25%;
  position: relative;

  @media (min-width: @tablets-width) {
    width: 86.97%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @media (min-width: @desktop-width) {
    width: 91.13%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min(483px);
    padding-left: 175px;
  }
}

.product-of-the-week__product-title {
  .text-settings();
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @dark;

  @media (min-width: @tablets-width) {
    font-size: 43px;
    line-height: 50px;

    grid-column: 1/3;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.product-of-the-week__title {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @aqua;

  @media (min-width: @tablets-width) {
    line-height: 17px;

    position: absolute;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }
}

.product-of-the-week__description {
  .text-settings();
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: @grey;
}

.product-of-the-week__characteristic {
  .text-settings();
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @grey;
}

.product-of-the-week__value {
  .text-settings();
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @grey;
}

.product-of-the-week__price {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @grey;
}

.product-of-the-week__item {
  display: flex;
}

.product-of-the-week__text-container {
  @media (min-width: @tablets-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.product-of-the-week__price-button-container {
  margin-top: 10px;

  @media (min-width: @tablets-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
  }
}

.product-of-the-week__img {
  @media (min-width: @tablets-width) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
