.product-card__title {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @dark;
}

.product-card__characteristic {
  .text-settings();
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @grey;
}

.product-card__price {
  .text-settings();
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @dark;
}

.product-card {
  @media (min-width: @tablets-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.product-card__link {
  @media (min-width: @tablets-width) {
    grid-column: 1/2;
  }
}

.product-card__text-container {
  @media (min-width: @tablets-width) {
    grid-column: 2/3;
  }
}
