

.production__title {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @dark;

  margin: 0;
  margin-bottom: 26.5px;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;
    background-image: url("../img/svg/video.svg");
    left: -57px;
    top: 10px;
  }
}

.production__text {
  .text-settings();
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @grey;

  margin: 0;
  margin-bottom: 41px;
}

.production__wrapper {
  .wrapper ();


  margin-bottom: 5px;

  @media (min-width: @tablets-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 682px 1fr;
    column-gap: 44px;
  }
}

.production__title-container {
  padding-top: 21.5px;
  border: 1px solid @grey-light;
  padding-left: 91px;

  @media (min-width: @desktop-width) {
    border-bottom: 0;
  }
}

.production__text-container {
  padding: 33px;
  border: 1px solid @grey-light;

  @media (min-width: @desktop-width) {
    border-top: 0;
  }
}

.production__video {
  width: 100%;
  min-height: 150px;
  background-color: @white;
  margin-bottom: 2px;
  position: relative;

  &::after {
    content: "";
    width: 100px;
    height: 76px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("../img/svg/play.svg");
  }

  background-image: url("../img/backgrounds/production-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/production-mobile2x.jpg");
  }

  @media (min-width: @tablets-width) {
    background-image: url("../img/backgrounds/production-tablets.jpg");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/production-tablets2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/backgrounds/production-desktop.jpg");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/production-desktop2x.jpg");
    }
  }


  @media (min-width: @tablets-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
