.text-input__label {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @dark;
}

.text-input__legend {
  .text-settings();
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @aqua;
}
