// цвета
@white: #ffffff;
@dark: #000000;
@aqua: #63d1bb;
@aqua-light:#56c3b2;
@grey: #444444;
@light-white:#f1f1f1;
// Cемейства шрифтов
@font:"Open Sans", "Arial", sans-serif;
// Viewports
@tablets-width:768px;
@desktop-width: 1150px;
//переменные для резиновой верстки
@mobile:81.25%;
@tablets:86.97%;
@desktop:91.13%;

//миксины
.text-settings () {
  font-family: @font;
  font-style: normal;
};

.wrapper () {
  width: @mobile;
  margin: 0 auto;

  @media (min-width: @tablets-width) {
    width: @tablets;
  }

  @media (min-width: @desktop-width) {
    width: @desktop;
  }
};
