// цвета
@white: #ffffff;
@dark: #000000;
@aqua: #63d1bb;
@aqua-light:#56c3b2;
@grey: #444444;
@light-white:#f1f1f1;
// Cемейства шрифтов
@font:"Open Sans", "Arial", sans-serif;
//миксины
.text-settings() {
  font-family: @font;
  font-style: normal;
};
