.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
.body {
  min-height: 100%;
  margin: 0;
  min-width: 268px;
}
.main-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  box-sizing: border-box;
  display: block;
  border: 2px solid #444444;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  height: 52px;
}
.main-button:hover {
  color: #ffffff;
  background-color: #444444;
}
.main-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
.main-header {
  background-color: #ffffff;
  width: 100%;
}
.header-navigation {
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
@media (max-width: 767px) {
  .header-navigation--opened {
    position: absolute;
    top: 0;
    left: auto;
    z-index: 10;
  }
}
@media (max-width: 767px) {
  .header-navigation--closed .header-navigation__list-first {
    display: none;
  }
  .header-navigation--closed .header-navigation__list-second {
    display: none;
  }
  .header-navigation--no-js {
    position: static;
  }
  .header-navigation--no-js .header-navigation__burger {
    display: none;
  }
}
.header-navigation__wrapper {
  background-color: #ffffff;
  position: relative;
  width: 81.25%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header-navigation__wrapper {
    padding-top: 22px;
  }
}
@media (min-width: 768px) {
  .header-navigation__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .header-navigation__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .header-navigation__wrapper {
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 2fr 1fr;
  }
}
@media (min-width: 1150px) {
  .header-navigation__wrapper {
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    grid-template-rows: 2fr 1fr;
  }
}
.header-navigation__list-first-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: #000000;
  text-decoration: none;
}
.header-navigation__list-first-link:hover {
  opacity: 0.6;
}
.header-navigation__list-first-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .header-navigation__list-first-link {
    font-size: 15px;
  }
}
.header-navigation__list-second-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: #000000;
  text-decoration: none;
}
.header-navigation__list-second-link:hover .header-navigation__list-second-link-text {
  opacity: 0.6;
}
.header-navigation__list-second-link:active .header-navigation__list-second-link-text {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .header-navigation__list-second-link-text--hidde {
    display: none;
  }
}
.header-navigation__list-third-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.header-navigation__list-third-link:hover {
  opacity: 0.6;
}
.header-navigation__list-third-link:active {
  opacity: 0.3;
}
.header-navigation__burger {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 32px;
  display: block;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: 0;
}
@media (min-width: 768px) {
  .header-navigation__burger {
    display: none;
  }
}
.header-navigation--closed .header-navigation__burger {
  border-top: 2px solid #231F20;
}
.header-navigation--closed .header-navigation__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  box-sizing: border-box;
  width: 20px;
  height: 2px;
  border: 1px solid #231F20;
  box-shadow: 0 6px 0 0 #231F20;
}
.header-navigation--opened .header-navigation__burger {
  height: 20px;
}
.header-navigation--opened .header-navigation__burger::before,
.header-navigation--opened .header-navigation__burger::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #231F20;
}
.header-navigation--opened .header-navigation__burger::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.header-navigation--opened .header-navigation__burger::after {
  transform: rotate(-45deg);
}
.header-navigation__logo {
  margin: 0 auto;
  display: block;
  width: 86px;
  height: 35px;
}
@media (max-width: 767px) {
  .header-navigation__logo {
    margin-bottom: 22px;
  }
}
@media (min-width: 768px) {
  .header-navigation__logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 22px auto 20px 0;
  }
}
@media (min-width: 1150px) {
  .header-navigation__logo {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (max-width: 767px) {
  .header-navigation__logo-img {
    width: 86px;
    height: 35px;
  }
}
@media (min-width: 768px) {
  .header-navigation__logo-img {
    width: 113.01px;
    height: 45.96px;
  }
}
@media (min-width: 1150px) {
  .header-navigation__logo-img {
    width: 149px;
    height: 72px;
  }
}
.header-navigation__logo-img:hover {
  opacity: 0.6;
}
.header-navigation__logo-img:active {
  opacity: 0.3;
}
.header-navigation__list-first {
  padding: 0;
  list-style: none;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__list-first {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    background-color: #FAFAFA;
  }
}
@media (min-width: 1150px) {
  .header-navigation__list-first {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__list-first--form {
    background-color: #f1f1f1;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__list-first--form .header-navigation__list-first-item:first-child::after {
    content: "";
    background-color: #f1f1f1;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    left: -1000px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__list-first-item {
    padding-top: 21.5px;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
  }
  .header-navigation__list-first-item:first-child::after {
    content: "";
    background-color: #FAFAFA;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    left: -1000px;
  }
  .header-navigation__list-first-item:not(:last-child) {
    margin-right: 33px;
  }
}
@media (min-width: 1150px) {
  .header-navigation__list-first-item {
    padding-top: 32.5px;
    padding-bottom: 31.5px;
    padding-right: 35px;
    border-right: 1px solid #ECECEC;
  }
  .header-navigation__list-first-item:last-child {
    padding-left: 35px;
    border-right: 0;
    flex-grow: 1;
  }
}
.header-navigation__list-second {
  padding: 0;
  list-style: none;
  margin: 0;
}
@media (min-width: 768px) {
  .header-navigation__list-second {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (min-width: 1150px) {
  .header-navigation__list-second {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__list-second .header-navigation__list-second-item:nth-child(1) {
    padding: 36px 31px 34px 33px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    box-sizing: border-box;
    position: relative;
  }
  .header-navigation__list-second .header-navigation__list-second-item:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1000px;
    width: 3000px;
    height: 1px;
    background-color: #ECECEC;
  }
  .header-navigation__list-second .header-navigation__list-second-item:nth-child(2) {
    box-sizing: border-box;
    align-self: center;
    width: 100%;
  }
  .header-navigation__list-second-link--cart {
    width: 100%;
    display: flex;
  }
  .header-navigation__list-second-link-picture--cart {
    margin-left: 31px;
  }
  .header-navigation__list-second-link-text--cart {
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .header-navigation__list-second .header-navigation__list-second-item:nth-child(1) {
    padding: 36px 31px 34px 33px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    box-sizing: border-box;
    position: relative;
  }
  .header-navigation__list-second .header-navigation__list-second-item:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2000px;
    width: 3000px;
    height: 1px;
    background-color: #ECECEC;
  }
  .header-navigation__list-second .header-navigation__list-second-item:nth-child(2) {
    box-sizing: border-box;
    align-self: center;
    width: 100%;
  }
  .header-navigation__list-second-link--cart {
    width: 100%;
    display: flex;
  }
  .header-navigation__list-second-link-picture--cart {
    margin-left: 31px;
  }
  .header-navigation__list-second-link-text--cart {
    margin-right: 0;
    margin-left: auto;
  }
}
.header-navigation__list-third {
  display: none;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1150px) {
  .header-navigation__list-third {
    display: flex;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-content: flex-start;
    background-color: #FAFAFA;
  }
  .header-navigation__list-third ::after {
    content: "";
    background-color: #FAFAFA;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    left: -1000px;
  }
}
@media (min-width: 1150px) {
  .header-navigation__list-third--form {
    background-color: #f1f1f1;
  }
  .header-navigation__list-third--form ::after {
    content: "";
    background-color: #f1f1f1;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    left: -1000px;
  }
}
@media (min-width: 768px) {
  .header-navigation__list-third-item {
    padding-top: 20px;
    margin-right: 45px;
  }
}
@media (max-width: 767px) {
  .header-navigation__list-first-item {
    padding: 28.5px 20px 26.5px 46px;
    position: relative;
  }
  .header-navigation__list-first-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: -260px;
    width: 1200px;
    height: 1px;
    background-color: #ECECEC;
  }
}
@media (max-width: 767px) {
  .header-navigation__list-second-item {
    padding: 27px 20px 27px 46px;
    position: relative;
  }
  .header-navigation__list-second-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: -260px;
    width: 1200px;
    height: 1px;
    background-color: #ECECEC;
  }
  .header-navigation__list-second-item:last-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -260px;
    width: 1200px;
    height: 1px;
    background-color: #ECECEC;
  }
}
.header-navigation__list-second-link-picture {
  opacity: 0.2;
}
@media (max-width: 767px) {
  .header-navigation__list-second-link-picture {
    position: absolute;
    left: 0;
    top: auto;
  }
}
.header-navigation__list-second-link:hover .header-navigation__list-second-link-picture {
  fill: #63d1bb;
  opacity: 1;
}
.header-navigation__list-second-link:active .header-navigation__list-second-link-picture {
  fill: #63d1bb;
  opacity: 0.3;
}
.header-navigation__delivery-notice {
  display: none;
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__delivery-notice {
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: end;
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
  }
  .header-navigation__delivery-notice ::after {
    content: "";
    background-color: #FAFAFA;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    right: -1000px;
  }
}
@media (min-width: 1150px) {
  .header-navigation__delivery-notice {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
  }
  .header-navigation__delivery-notice ::after {
    content: "";
    background-color: #FAFAFA;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    right: -1000px;
  }
}
@media (min-width: 768px) and (max-width: 1149px) {
  .header-navigation__delivery-notice--form {
    background-color: #f1f1f1;
  }
  .header-navigation__delivery-notice--form ::after {
    content: "";
    background-color: #f1f1f1;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    right: -1000px;
  }
}
@media (min-width: 1150px) {
  .header-navigation__delivery-notice--form {
    background-color: #f1f1f1;
  }
  .header-navigation__delivery-notice--form::after {
    content: "";
    background-color: #f1f1f1;
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 0;
    right: -1000px;
  }
}
.header-navigation__delivery-notice-text {
  margin-right: 0;
}
.hero-section {
  background-image: url("../img/backgrounds/hero-background.jpg");
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../img/backgrounds/hero-background2x.jpg");
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .hero-section {
    background-image: url("../img/backgrounds/hero-tablets.jpg");
    background-position: 50% 3px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../img/backgrounds/hero-tablets2x.jpg");
    background-size: 1150px auto;
  }
}
@media (min-width: 1150px) {
  .hero-section {
    background-image: url("../img/backgrounds/hero-desktop.jpg");
    background-position: 50% 3px;
  }
}
@media (min-width: 1150px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../img/backgrounds/hero-desktop2x.jpg");
    background-size: 1150px auto;
  }
}
.hero-section__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 120px;
}
@media (min-width: 768px) {
  .hero-section__title {
    margin-bottom: 372px;
  }
}
.hero-section__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding-top: 74px;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero-section__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .hero-section__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .hero-section__wrapper::before {
    content: "";
    background-image: url("../img/sampels/wave.svg");
    position: absolute;
    height: 34px;
    width: 3000px;
    bottom: -10px;
    left: -500px;
    z-index: 10;
    background-repeat: repeat-x;
  }
}
@media (min-width: 768px) {
  .hero-section__br-in-title {
    display: none;
  }
}
.catalog-section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog-section-list {
    display: flex;
  }
}
@media (max-width: 767px) {
  .catalog-section-list :nth-child(2)::after {
    content: "";
    position: absolute;
    background-color: #56c3b2;
    width: 1000px;
    left: -1000px;
    top: 0;
    height: 100%;
  }
  .catalog-section-list :nth-child(2)::before {
    content: "";
    position: absolute;
    background-color: #56c3b2;
    width: 1000px;
    right: -1000px;
    top: 0;
    height: 100%;
  }
}
.catalog-section-list__item {
  background-color: #56c3b2;
  padding-top: 22px;
  padding-bottom: 18px;
  position: relative;
  box-sizing: border-box;
}
.catalog-section-list__item:hover {
  height: calc(50% + 5px);
}
@media (min-width: 768px) {
  .catalog-section-list__item {
    flex-grow: 1;
    padding: 25px 33px 27px 36px;
  }
}
.catalog-section-list__item--left {
  background-color: #63d1bb;
  position: relative;
}
@media (max-width: 767px) {
  .catalog-section-list__item--left::after {
    content: "";
    position: absolute;
    background-color: #63d1bb;
    width: 1000px;
    left: -1000px;
    top: 0;
    height: 100%;
  }
  .catalog-section-list__item--left::before {
    content: "";
    position: absolute;
    background-color: #63d1bb;
    width: 1000px;
    right: -1000px;
    top: 0;
    height: 100%;
  }
}
.catalog-section-list__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.product-of-the-week {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.product-of-the-week__wrapper {
  width: 81.25%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .product-of-the-week__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .product-of-the-week__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 42px;
    margin-bottom: 69px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__wrapper {
    display: grid;
    grid-template-columns: 119px 292px 1fr;
    column-gap: 58px;
    margin-bottom: 96px;
  }
}
.product-of-the-week__wrapper::after {
  content: "";
  position: absolute;
  left: -1000px;
  width: 3000px;
  height: 6px;
  background-position: 0 6px;
  background-image: url("../img/sampels/wave-small.svg");
  bottom: -36px;
}
@media (min-width: 768px) {
  .product-of-the-week__wrapper::after {
    background-image: url("../img/sampels/wave-product-tablets.svg");
    height: 17px;
    background-position: 0 17px;
    bottom: -52px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__wrapper::after {
    bottom: -79px;
  }
}
.product-of-the-week__product-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  z-index: 10;
  margin: 0;
}
@media (min-width: 768px) {
  .product-of-the-week__product-title {
    font-size: 43px;
    line-height: 50px;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 37.5px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__product-title {
    font-size: 53px;
    line-height: 57px;
    grid-column: 2/4;
    margin-top: 61px;
    margin-bottom: 35px;
  }
}
.product-of-the-week__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 17.5px;
}
@media (min-width: 768px) {
  .product-of-the-week__title {
    line-height: 17px;
    margin-right: 27px;
    margin-left: auto;
    text-align: center;
    grid-column: 3/4;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__title {
    grid-column: 1/2;
    margin-right: 0;
    margin-left: auto;
    margin-top: 61px;
  }
}
.product-of-the-week__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .product-of-the-week__description {
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__description {
    margin-bottom: 60px;
  }
}
.product-of-the-week__list {
  margin: 0;
}
.product-of-the-week__characteristic {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}
.product-of-the-week__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}
.product-of-the-week__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  margin: 0;
  margin-bottom: 24.5px;
  text-align: center;
}
@media (min-width: 768px) {
  .product-of-the-week__price {
    font-size: 20px;
    margin-bottom: 33px;
  }
}
.product-of-the-week__item {
  display: flex;
  padding-bottom: 13px;
  border-bottom: 1px solid #ECECEC;
}
@media (min-width: 1150px) {
  .product-of-the-week__item {
    padding-bottom: 15px;
  }
}
.product-of-the-week__text-container {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .product-of-the-week__text-container {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 57px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__text-container {
    grid-column: 2/3;
    margin-bottom: 109px;
  }
}
@media (min-width: 768px) {
  .product-of-the-week__price-button-container {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-end;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__price-button-container {
    grid-column: 2/3;
  }
}
.product-of-the-week__img {
  margin-bottom: 25.5px;
}
@media (min-width: 768px) {
  .product-of-the-week__img {
    grid-column: 2/4;
    grid-row: 2/4;
    width: 334px;
    height: 404px;
  }
}
@media (min-width: 1150px) {
  .product-of-the-week__img {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 525px;
    height: 636px;
  }
}
.product-of-the-week__br {
  display: none;
}
@media (min-width: 768px) {
  .product-of-the-week__br {
    display: block;
  }
}
.about-us {
  background-color: #ffffff;
}
.about-us__wrapper {
  width: 81.25%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .about-us__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .about-us__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 1150px) {
  .about-us__wrapper {
    padding-left: 175px;
    padding-right: 200px;
  }
}
.about-us__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
  text-align: left;
}
@media (min-width: 768px) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 41.5px;
  }
}
@media (min-width: 1150px) {
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 39px;
  }
}
.about-us__item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding-top: 54px;
  margin-bottom: 30px;
  position: relative;
}
.about-us__item:last-child {
  margin-bottom: 0;
}
.about-us__item--flower {
  grid-area: f;
}
.about-us__item--flower::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 38px;
  background-image: url("../img/icons/about-us-icons/flower.svg");
}
.about-us__item--money {
  grid-area: m;
}
.about-us__item--money::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 27px;
  background-image: url("../img/icons/about-us-icons/money.svg");
}
.about-us__item--heart {
  grid-area: h;
}
.about-us__item--heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 27px;
  background-image: url("../img/icons/about-us-icons/heart.svg");
}
.about-us__item--yarn {
  grid-area: y;
}
.about-us__item--yarn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 34px;
  background-image: url("../img/icons/about-us-icons/yarn.svg");
}
.about-us__item--rocket {
  grid-area: r;
}
.about-us__item--rocket::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 23px;
  background-image: url("../img/icons/about-us-icons/rocket.svg");
}
.about-us__item--gift {
  grid-area: g;
}
.about-us__item--gift::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
  background-image: url("../img/icons/about-us-icons/gift.svg");
}
.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .about-us__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f y" "m r" "h g";
    column-gap: 100px;
  }
}
.reviews {
  background-color: #ffffff;
  overflow: hidden;
}
@media (min-width: 768px) {
  .reviews {
    background-image: url("../img/backgrounds/review.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../img/backgrounds/review2x.jpg");
    background-size: 350px auto;
  }
}
.reviews__wrapper {
  width: 81.25%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 51px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .reviews__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .reviews__wrapper {
    padding-top: 79px;
    display: grid;
    grid-template-columns: 1fr 1fr 175px;
    margin-bottom: 85px;
  }
}
.reviews__wrapper::after {
  content: "";
  position: absolute;
  left: -1000px;
  width: 3000px;
  height: 6px;
  background-position: 0 6px;
  background-image: url("../img/sampels/wave-small.svg");
  bottom: -45px;
}
@media (min-width: 768px) {
  .reviews__wrapper::after {
    background-image: url("../img/sampels/wave-product-tablets.svg");
    height: 17px;
    background-position: 0 17px;
    bottom: -68px;
  }
}
.reviews__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .reviews__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 14px;
    margin-bottom: 38.5px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    margin-top: 9px;
    margin-bottom: 35px;
  }
}
.reviews__list {
  margin: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .reviews__list {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-bottom: 61px;
  }
}
@media (min-width: 1150px) {
  .reviews__list {
    margin-bottom: 44px;
  }
}
.reviews__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .reviews__text {
    font-size: 17px;
  }
}
.reviews__author {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .reviews__author {
    line-height: 30px;
  }
}
.reviews__id {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .reviews__id {
    font-size: 17px;
  }
}
.reviews__slider-button-container {
  display: flex;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .reviews__slider-button-container {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media (min-width: 768px) {
  .reviews__write-review {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
.reviews__cite {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .reviews__cite {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 47px;
  }
}
@media (min-width: 1150px) {
  .reviews__cite {
    margin-bottom: 96px;
  }
}
.contacts {
  background-color: #ffffff;
}
@media (min-width: 1150px) {
  .contacts {
    margin: 0 auto;
    width: 91.13%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 54px;
    column-gap: 80px;
  }
}
.contacts__wrapper {
  width: 81.25%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 62px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding-top: 22px;
    margin-bottom: 49px;
  }
  .contacts__wrapper::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    background-image: url("../img/icons/flag.svg");
    right: 0;
    top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1150px) {
  .contacts__wrapper::before {
    left: 62px;
    top: 62px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    width: 100%;
    padding-top: 62px;
    padding-left: 175px;
    margin-bottom: 84px;
  }
}
.contacts__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 49px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    margin-top: 17px;
    margin-bottom: 35px;
  }
}
.contacts__characteristic {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin-right: 30px;
}
.contacts__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}
.contacts__item {
  display: flex;
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__list {
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }
}
@media (min-width: 1150px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
}
.contacts__write-us-wrapper {
  width: 81.25%;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .contacts__write-us-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .contacts__write-us-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 1150px) {
  .contacts__write-us-wrapper {
    width: 100%;
    padding-left: 175px;
  }
}
.contacts__map {
  width: 100%;
  height: 454px;
  background-color: #ffffff;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .contacts__map {
    margin-bottom: 55px;
  }
}
@media (min-width: 1150px) {
  .contacts__map {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-bottom: 0;
  }
}
.main-footer {
  background-color: #f1f1f1;
}
.main-footer__wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .main-footer__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}
.main-footer__copyright {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer__copyright-text {
  margin-right: 27px;
}
@media (min-width: 768px) {
  .main-footer__copyright-text {
    margin-right: 25px;
  }
}
.main-footer__logo {
  display: none;
  height: 34px;
}
@media (min-width: 768px) {
  .main-footer__logo {
    display: block;
  }
}
.main-footer__socials {
  padding-bottom: 30px;
}
.main-form {
  background-color: #ffffff;
}
.main-form__title-container {
  background-color: #f1f1f1;
  text-align: center;
  overflow: hidden;
}
.main-form__title-wrapper {
  width: 81.25%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 73px 0;
}
@media (min-width: 768px) {
  .main-form__title-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .main-form__title-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .main-form__title-wrapper {
    padding: 101px 0 87px 0;
  }
  .main-form__title-wrapper::before {
    content: "";
    background-image: url("../img/sampels/wave.svg");
    position: absolute;
    height: 34px;
    width: 3000px;
    bottom: -10px;
    left: -500px;
    z-index: 10;
    background-repeat: repeat-x;
  }
}
@media (min-width: 1150px) {
  .main-form__title-wrapper {
    padding: 101px 0 113px 0;
  }
}
.main-form__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.form {
  background-color: #ffffff;
  margin-bottom: 55px;
}
.form__title-text-wrapper {
  width: 81.25%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__title-text-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__title-text-wrapper {
    width: 91.13%;
  }
}
.form__type-wrapper {
  width: 81.25%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__type-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__type-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .form__type-wrapper {
    display: grid;
    grid-template-columns: 169px 1fr;
  }
}
.form__type {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__type {
    margin-bottom: 50px;
  }
}
.form__type-legend {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__type-legend {
    grid-column: 1/2;
  }
}
.form__type-radio-first {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .form__type-radio-first {
    grid-column: 2/3;
  }
}
@media (min-width: 768px) {
  .form__type-radio-second {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.form__color {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__color {
    background-color: #f1f1f1;
    padding: 50px 0;
    margin-bottom: 50px;
  }
}
.form__color-wrapper {
  width: 81.25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__color-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__color-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .form__color-wrapper {
    display: grid;
    grid-template-columns: 169px 1fr 1fr;
    row-gap: 23px;
  }
}
@media (min-width: 1150px) {
  .form__color-wrapper {
    grid-template-columns: 169px 1fr 1fr 1fr;
  }
}
.form__color-legend {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form__color-legend {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
@media (max-width: 767px) {
  .form__color-checkbox {
    margin-bottom: 23px;
  }
  .form__color-checkbox:last-child {
    margin-bottom: 0;
  }
}
.form__id {
  margin: 0;
  border: 0;
  padding: 0;
  margin-bottom: 34.5px;
}
@media (min-width: 768px) {
  .form__id {
    margin-bottom: 50px;
  }
}
.form__id-wrapper {
  width: 81.25%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__id-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__id-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .form__id-wrapper {
    display: grid;
    grid-template-columns: 169px 1fr;
  }
}
.form__id-legend {
  margin-bottom: 28.85px;
}
@media (min-width: 768px) {
  .form__id-legend {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-top: 17px;
  }
}
.form__tel-email-wrapper {
  width: 81.25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__tel-email-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__tel-email-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .form__tel-email-wrapper {
    display: grid;
    grid-template-columns: 169px 1fr;
  }
}
.form__tel-email-legend {
  margin-bottom: 4.5px;
}
@media (min-width: 768px) {
  .form__tel-email-legend {
    grid-column: 1/2;
    margin-top: 17.5px;
  }
}
.form__email {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 34.5px;
}
@media (min-width: 768px) {
  .form__email {
    background-color: #f1f1f1;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
.form__tel {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 34.5px;
}
@media (min-width: 768px) {
  .form__tel {
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 24px;
    margin-bottom: 0;
  }
}
.form__wish-wrapper {
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .form__wish-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__wish-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .form__wish-wrapper {
    display: grid;
    grid-template-columns: 169px 1fr;
    margin-bottom: 53px;
  }
}
.form__wish-legend {
  margin-bottom: 22.5px;
}
@media (min-width: 768px) {
  .form__wish-legend {
    margin-top: 22px;
  }
}
.form__text-area {
  width: 100%;
  min-height: 100px;
}
.form__requered-button-wrapper {
  width: 81.25%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__requered-button-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .form__requered-button-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .form__requered-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.form__button {
  width: 100%;
}
@media (min-width: 768px) {
  .form__button {
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .form__button {
    margin-left: 169px;
  }
}
.form__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 17px;
    line-height: 30px;
  }
}
.form__text-input {
  margin-bottom: 21.85px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__text-input {
    flex-direction: row;
    align-items: center;
  }
}
.form__text-input:last-child {
  margin-bottom: 0;
}
.form__legend {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  position: relative;
}
@media (max-width: 767px) {
  .form__legend::before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 60px);
    background-color: #63d1bb;
    left: 60px;
    top: 8px;
  }
}
.form__requered {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  display: block;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__requered {
    margin-bottom: 0;
    order: 1;
  }
}
.radio {
  display: flex;
  align-items: center;
}
.radio:hover .radio__control-mark {
  border: 2px solid #62D1BA;
}
.radio__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.radio__control-mark {
  position: relative;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #444444;
  margin-right: 19px;
}
@media (min-width: 768px) {
  .radio__control-mark {
    margin-right: 27px;
    width: 52px;
    height: 52px;
  }
}
.radio__input:checked + .radio__control-mark::before {
  content: "";
  position: absolute;
  width: 43.57%;
  height: 43.57%;
  background-color: #62D1BA;
  border-radius: 50%;
  top: 29%;
  left: 29%;
}
.radio__input:disabled + .radio__control-mark {
  border: 2px solid #B3B3B3;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox:hover .checkbox__control-mark {
  border: 2px solid #62D1BA;
}
.checkbox__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.checkbox__control-mark {
  box-sizing: border-box;
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  position: relative;
  margin-right: 23px;
}
@media (min-width: 768px) {
  .checkbox__control-mark {
    width: 52px;
    height: 52px;
    margin-right: 30px;
  }
}
.checkbox__input:checked + .checkbox__control-mark::before {
  content: "";
  position: absolute;
  width: 62.5%;
  height: 45.1%;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  top: 29%;
  left: 20%;
}
.checkbox__input:disabled + .checkbox__control-mark {
  border: 2px solid #B3B3B3;
}
.text-input {
  position: relative;
}
.text-input__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  margin-right: 25px;
}
.text-input__legend {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}
.text-input__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  border: 0;
  border-bottom: 2px solid #444444;
  padding: 17px 0;
  flex-grow: 1;
  color: #444444;
  background-color: inherit;
}
@media (min-width: 768px) {
  .text-input__input {
    padding: 17px;
  }
}
.text-input__input:hover {
  border: 0;
  border-bottom: 2px solid #62D1BA;
}
.text-input__input:active {
  border: 0;
  border-bottom: 2px solid #62D1BA;
}
.text-input__input::placeholder {
  color: #000000;
  opacity: 0.6;
}
.text-input__input:focus-visible {
  border: 0;
  border-bottom: 2px solid #62D1BA;
  outline: 0;
}
.text-input__input--telphone {
  padding: 17px 40px 17px 0;
}
.text-input__input--email {
  padding: 17px 40px 17px 0;
}
.text-input__input-icon {
  position: absolute;
  top: 40px;
  right: 8px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .text-input__input-icon {
    top: 20px;
  }
}
.text-input__input:hover + .text-input__input-icon {
  fill: #62D1BA;
  opacity: 1;
}
.text-input__input:active + .text-input__input-icon {
  fill: #62D1BA;
  opacity: 1;
}
.main-catalog__title-container {
  background-color: #f1f1f1;
  overflow: hidden;
  margin-bottom: 30px;
}
.main-catalog__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.main-catalog__title-container-wrapper {
  width: 81.25%;
  margin: 0 auto;
  padding: 73px 0;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .main-catalog__title-container-wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .main-catalog__title-container-wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .main-catalog__title-container-wrapper::before {
    content: "";
    background-image: url("../img/sampels/wave.svg");
    position: absolute;
    height: 34px;
    width: 3000px;
    bottom: -10px;
    left: -500px;
    z-index: 10;
    background-repeat: repeat-x;
  }
}
.main-catalog__production {
  margin-bottom: 58px;
}
.main-catalog__catalog-items {
  margin-bottom: 58px;
}
.catalog-items {
  background-color: #ffffff;
}
.catalog-items__wrapper {
  width: 81.25%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog-items__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .catalog-items__wrapper {
    width: 91.13%;
  }
}
.catalog-items__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1150px) {
  .catalog-items__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
}
.product-card {
  border: 1px solid #ECECEC;
  margin-bottom: 30px;
}
.product-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .product-card {
    display: block;
    margin-bottom: 0;
  }
}
.product-card__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 6px;
}
.product-card__characteristic {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 17.5px;
}
.product-card__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .product-card__link {
    grid-column: 1/2;
  }
}
.product-card__text-container {
  padding: 27.5px 28px;
}
@media (min-width: 768px) {
  .product-card__text-container {
    grid-column: 2/3;
    padding: 27.5px 33px;
  }
}
@media (min-width: 768px) {
  .product-card__text-container {
    padding: 27.5px 28px;
  }
}
.product-card__hr {
  margin: 0;
  margin-bottom: 22.5px;
}
.product-card__price-cart-container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .product-card__img {
    width: 334px;
    height: 334px;
  }
}
@media (min-width: 1150px) {
  .product-card__img {
    width: 316px;
    height: 462px;
  }
}
.production__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 26.5px;
}
.production__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
  margin-bottom: 41px;
}
.production__wrapper {
  width: 81.25%;
  margin: 0 auto;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .production__wrapper {
    width: 86.97%;
  }
}
@media (min-width: 1150px) {
  .production__wrapper {
    width: 91.13%;
  }
}
@media (min-width: 768px) {
  .production__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1150px) {
  .production__wrapper {
    display: grid;
    grid-template-columns: 682px 1fr;
    column-gap: 44px;
  }
}
.production__title-container {
  padding-top: 21.5px;
  border: 1px solid #ECECEC;
  text-align: center;
}
@media (min-width: 1150px) {
  .production__title-container {
    border-bottom: 0;
  }
}
.production__text-container {
  padding: 33px;
  border: 1px solid #ECECEC;
}
@media (min-width: 1150px) {
  .production__text-container {
    border-top: 0;
  }
}
.production__video {
  width: 100%;
  min-height: 150px;
  background-color: #ffffff;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .production__video {
    order: -1;
  }
}
@media (min-width: 1150px) {
  .production__video {
    order: 0;
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
.slider__list {
  list-style: none;
  padding: 0;
}
.slider__button {
  display: block;
  height: 52px;
  width: 100%;
  background-color: inherit;
  border: 1px solid #ECECEC;
}
@media (min-width: 768px) {
  .slider__button {
    border: 0;
  }
}
.slider__button--left {
  border-right: 0;
}
.slider__button:hover {
  opacity: 0.6;
}
.slider__button:active {
  opacity: 0.3;
}
.socials {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E5E5E5;
  align-items: center;
}
.socials__item {
  margin-right: 30px;
  height: 22px;
}
.socials__item:first-child {
  margin-left: auto;
}
.socials__item:last-child {
  margin-right: auto;
}
.main-container__hero-section {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .main-container__hero-section {
    margin-bottom: 51.5px;
  }
}
@media (min-width: 1150px) {
  .main-container__hero-section {
    margin-bottom: 71px;
  }
}
.main-container__product-of-the-week {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .main-container__product-of-the-week {
    margin-bottom: 65px;
  }
}
@media (min-width: 1150px) {
  .main-container__product-of-the-week {
    margin-bottom: 71px;
  }
}
.main-container__about-us {
  margin-bottom: 58px;
}
@media (min-width: 768px) {
  .main-container__about-us {
    margin-bottom: 83px;
  }
}
@media (min-width: 1150px) {
  .main-container__about-us {
    margin-bottom: 90px;
  }
}
.main-container__reviews {
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .main-container__reviews {
    margin-bottom: 46px;
  }
}
@media (min-width: 1150px) {
  .main-container__reviews {
    margin-bottom: 71px;
  }
}
.main-container__contacts {
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .main-container__contacts {
    margin-bottom: 57px;
  }
}
@media (min-width: 1150px) {
  .main-container__contacts {
    margin-bottom: 105px;
  }
}
.mail-link {
  position: relative;
}
.mail-link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #46C1AE;
  bottom: -6px;
}
.mail-link:active::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #46C1AE;
  bottom: -6px;
  opacity: 0.1;
}
.mail-link:hover {
  color: #46C1AE;
}
.mail-link:active {
  color: #46C1AE;
}
/*# sourceMappingURL=style.css.map */
